/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>

#define HYPER LC(LS(LG(LALT)))

// layers
#define DEFAULT 0
#define LOWER 1
#define UPPER 2
#define MAGIC 3
#define FACTORY_TEST 4

&sk {
    release-after-ms = <2000>;
    quick-release;
};

&sl {
    release-after-ms = <2000>;
    quick-release;
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <500>;
            quick-tap-ms = <200>;
            require-prior-idle-ms = <125>;
            retro-tap;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };
};


// HOME ROW MODS
// CMD 
#define L_GUI_HM hm LGUI A
#define R_GUI_HM hm RGUI TAB
// ALT
#define L_ALT_HM hm LALT S
#define R_ALT_HM hm RALT L
// CTRL
#define L_CTRL_HM hm LCTRL D
#define R_CTRL_HM hm RCTRL K 
// SHIFT
#define L_SHFT_HM hm LSHFT F
#define R_SHFT_HM hm RSHFT J 


/ {
    behaviors {
        
        // HOME ROW MOD NAVIGATION
        MOD_L_NAV: mod_left_navigation {
            #binding-cells = <0>;
            compatible = "zmk,behavior-mod-morph";
            bindings = <&kp H>, <&kp LEFT>;
            mods = <(MOD_LGUI|MOD_LALT|MOD_LCTL)>;
            keep-mods = <(MOD_LGUI|MOD_LALT|MOD_LCTL)>;
        };

        MOD_D_NAV: mod_down_navigation {
            #binding-cells = <0>;
            compatible = "zmk,behavior-mod-morph";
            bindings = <&R_SHFT_HM>, <&kp DOWN>;
            mods = <(MOD_LGUI|MOD_LALT|MOD_LCTL)>;
            keep-mods = <(MOD_LGUI|MOD_LALT|MOD_LCTL)>;
        };

        MOD_U_NAV: mod_upper_navigation {
            #binding-cells = <0>;
            compatible = "zmk,behavior-mod-morph";
            bindings = <&R_CTRL_HM>, <&kp UP>;
            mods = <(MOD_LGUI|MOD_LALT|MOD_LCTL)>;
            keep-mods = <(MOD_LGUI|MOD_LALT|MOD_LCTL)>;
        };

        MOD_R_NAV: mod_right_navigation {
            #binding-cells = <0>;
            compatible = "zmk,behavior-mod-morph";
            bindings = <&R_ALT_HM>, <&kp RIGHT>;
            mods = <(MOD_LGUI|MOD_LALT|MOD_LCTL)>;
            keep-mods = <(MOD_LGUI|MOD_LALT|MOD_LCTL)>;
        };

        magic: magic_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "MAGIC_HOLD_TAP";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&mo>, <&rgb_ug_status_macro>;
        };
    };

    macros {
        rgb_ug_status_macro: rgb_ug_status_macro_0 {
            label = "RGB_UG_STATUS";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&rgb_ug RGB_STATUS>;
        };

        bt_0: bt_profile_macro_0 {
            label = "BT_0";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&out OUT_BLE>,
                  <&bt BT_SEL 0>;
        };

        bt_1: bt_profile_macro_1 {
            label = "BT_1";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&out OUT_BLE>,
                  <&bt BT_SEL 1>;
        };

        bt_2: bt_profile_macro_2 {
            label = "BT_2";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&out OUT_BLE>,
                  <&bt BT_SEL 2>;
        };

        bt_3: bt_profile_macro_3 {
            label = "BT_3";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&out OUT_BLE>,
                  <&bt BT_SEL 3>;
        };
    };

    behaviors {
        shift_td: shift_td {
            #binding-cells = <0>;
            compatible = "zmk,behavior-tap-dance";
            bindings = <&sk LSHIFT>, <&caps_word>;
        };

        L_LAYER_TD: L_LAYER_TD {
            #binding-cells = <0>;
            compatible = "zmk,behavior-tap-dance"; 
            bindings = <&sl LOWER>, <&tog LOWER>; 
        };

        U_LAYER_TD: U_LAYER_TD {
            #binding-cells = <0>;
            compatible = "zmk,behavior-tap-dance"; 
            bindings = <&sl UPPER>, <&tog UPPER>; 
        };

        DEF_LAYER_TD: DEF_LAYER_TD { 
            #binding-cells = <0>;
            compatible = "zmk,behavior-tap-dance"; 
            bindings = <&to DEFAULT>, <&to DEFAULT>; 
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ---------------------------------------------------------------------------------------------------------------------------------
            // |  F1       |       F2        |         F3         |         F4           |          F5             |                                                                                                                                           |           F6                |         F7               |        F8            |           F9             |         F10          |
            // |  =        |       1         |         2          |         3            |          4              |        5              |                                                                                                 |      6          |            7                |          8               |         9            |            0             |           -          |
            // |  TAB      |       Q         |         W          |         E            |          R              |        T              |                                                                                                 |      Y          |            U                |          I               |         O            |            P             |           \          |
            // |  ESC      |       A         |         S          |         D            |          F              |        G              |                                                                                                 |      H          |            J                |          K               |         L            |            ;             |           '          |
            // |   `       |       Z         |         X          |         C            |          V              |        B              |      LSHFT    |    LCTRL       |      LOWER        | |     LGUI        |    RCTRL   |  RSHFT    |      N          |            M                |          ,               |         .            |            /             |          PGUP        |
            // | MAGIC     |      HOME       |        END         |        LEFT          |         RIGHT           |                       |      BSPC     |    DEL         |      LALT         | |     RALT        |    RET     |  SPACE    |                 |           UP                |        DOWN              |         [            |            ]             |          PGDN        |

            bindings = <
            &kp F1              &kp F2              &kp F3                &kp F4                  &kp F5                                                                                                                                                                 &kp F6                      &kp F7                    &kp F8                     &kp F9                   &kp F10
            &kp EQUAL           &kp N1              &kp N2                &kp N3                  &kp N4                  &kp N5                                                                                                                 &kp N6                  &kp N7                      &kp N8                    &kp N9                     &kp N0                   &kp MINUS
            &kp TAB             &kp Q               &kp W                 &kp E                   &kp R                   &kp T                                                                                                                  &kp Y                   &kp U                       &kp I                     &kp O                      &kp P                    &kp BSLH
            &U_LAYER_TD         &L_GUI_HM           &L_ALT_HM             &L_CTRL_HM              &L_SHFT_HM              &kp G                                                                                                                  &MOD_L_NAV              &MOD_D_NAV                  &MOD_U_NAV                &MOD_R_NAV                 &R_GUI_HM                &kp ESC
            &sk LALT            &kp Z               &kp X                 &kp C                   &kp V                   &kp B                  &shift_td   &kp LCTRL           &L_LAYER_TD           &kp LGUI        &kp RCTRL   &shift_td     &kp N                   &kp M                       &kp COMMA                 &kp DOT                    &kp FSLH                 &kp PG_UP
            &magic MAGIC 0      &kp HOME            &kp END               &kp LEFT                &kp RIGHT                                      &kp BSPC    &L_LAYER_TD         &U_LAYER_TD           &L_LAYER_TD     &kp ENTER   &kp SPACE                             &kp UP                      &kp DOWN                  &kp LBKT                   &kp RBKT                 &kp PG_DN
            >;
        };

        lower_layer {
            bindings = <
            &none               &none               &none                 &none                   &none                                                                                                                                                                  &none                       &none                     &none                      &none                    &none 
            &trans              &kp F1              &kp F2                &kp F3                  &kp F4                  &kp F5                                                                                                                 &kp F6                  &kp F7                      &kp F8                    &kp F9                     &kp F10                  &none
            &trans              &none               &kp PLUS              &kp EQUAL               &kp MINUS               &none                                                                                                                  &none                   &kp BSLH                    &kp FSLH                  &none                      &none                    &none
            &U_LAYER_TD         &kp LGUI            &kp LALT              &kp LCTRL               &kp SINGLE_QUOTE        &kp SEMICOLON                                                                                                          &kp TILDE               &kp COMMA                   &kp RCTRL                 &kp RALT                   &kp RGUI                 &kp ESC 
            &trans              &none               &kp LESS_THAN         &kp GREATER_THAN        &kp LEFT_PARENTHESIS    &kp LEFT_BRACKET       &sk LSHFT   &none              &to DEFAULT            &none            &none       &sk RSHFT    &kp LEFT                &kp DOWN                    &kp UP                    &kp RIGHT                  &none                    &trans
            &trans              &none               &none                 &none                   &none                                          &kp BSPC    &DEF_LAYER_TD      &U_LAYER_TD            &to DEFAULT      &kp ENTER   &kp SPACE                            &none                       &none                     &none                      &none                    &trans
            >;
        };

        upper_layer {
            bindings = <
            &kp C_BRI_DN        &kp C_BRI_UP        &kp C_PREV            &kp C_NEXT              &kp C_PP                                                                                                                                                               &none                       &none                     &none                      &none                    &none
            &trans              &kp DELETE          &trans                &kp UNDERSCORE          &kp PLUS                &kp PAGE_UP                                                                                                            &trans                  &trans                      &trans                    &kp BACKSLASH              &kp PIPE                 &trans
            &trans              &kp EXCLAMATION     &kp AT_SIGN           &kp POUND               &kp DOLLAR              &kp PERCENT                                                                                                            &kp CARET               &kp AMPERSAND               &kp ASTERISK              &kp LEFT_BRACE             &kp RIGHT_BRACE          &none
            &DEF_LAYER_TD       &kp NUMBER_1        &kp NUMBER_2          &kp NUMBER_3            &kp NUMBER_4            &kp NUMBER_5                                                                                                           &kp NUMBER_6            &kp NUMBER_7                &kp NUMBER_8              &kp NUMBER_9               &kp NUMBER_0             &kp ESC
            &trans              &none               &kp LESS_THAN         &kp GREATER_THAN        &kp LEFT_PARENTHESIS    &kp LEFT_BRACKET       &sk LSHFT   &none              &to DEFAULT            &none            &none       &sk RSHFT    &kp RIGHT_BRACKET       &kp RIGHT_PARENTHESIS       &none                     &none                      &none                    &trans 
            &trans              &none               &none                 &none                   &none                                          &kp BSPC    &DEF_LAYER_TD      &to DEFAULT            &to DEFAULT      &kp ENTER   &kp SPACE                            &none                       &none                     &none                      &none                    &trans
            >;
        };

        magic_layer {
            bindings = <
            &bt BT_CLR        &none               &none           &none           &none                                                                                                           &none      &none      &none      &none      &bt BT_CLR_ALL
            &none             &none               &none           &none           &none           &none                                                                                &none      &none      &none      &none      &none      &none
            &none             &rgb_ug RGB_SPI     &rgb_ug RGB_SAI &rgb_ug RGB_HUI &rgb_ug RGB_BRI &rgb_ug RGB_TOG                                                                      &none      &none      &none      &none      &none      &none
            &bootloader       &rgb_ug RGB_SPD     &rgb_ug RGB_SAD &rgb_ug RGB_HUD &rgb_ug RGB_BRD &rgb_ug RGB_EFF                                                                      &none      &none      &none      &none      &none      &bootloader
            &sys_reset        &none               &none           &none           &none           &none           &bt_2     &bt_3     &none            &none     &none     &none       &none      &none      &none      &none      &none      &sys_reset
            &none             &none               &none           &none           &none                           &bt_0     &bt_1     &out OUT_USB     &none     &none     &none                  &none      &none      &none      &none      &to FACTORY_TEST
            >;
        };

        factory_test_layer {
            bindings = <
            &kp N0            &kp N6              &kp N2          &kp N8          &kp N4                                                                                                         &kp N4     &kp N8     &kp N2     &kp N6     &kp N0
            &kp N1            &kp N7              &kp N3          &kp N9          &kp N5          &kp N0                                                                              &kp N0     &kp N5     &kp N9     &kp N3     &kp N7     &kp N1
            &kp N2            &kp N8              &kp N4          &kp N0          &kp N6          &kp N1                                                                              &kp N1     &kp N6     &kp N0     &kp N4     &kp N8     &kp N2
            &kp N3            &kp N9              &kp N5          &kp N1          &kp N7          &kp N2                                                                              &kp N2     &kp N7     &kp N1     &kp N5     &kp N9     &kp N3
            &kp N4            &kp N0              &kp N6          &kp N2          &kp N8          &kp N3          &kp N4    &kp N5    &kp N6           &kp N6    &kp N5    &kp N4     &kp N3     &kp N8     &kp N2     &kp N6     &kp N0     &kp N4
            &kp N5            &kp N1              &kp N7          &kp N3          &kp N9                          &kp N7    &kp N8    &kp N9           &kp N9    &kp N8    &kp N7                &kp N9     &kp N3     &kp N7     &kp N1     &kp N5
            >;
        };
    };
};
